*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color:#DACCBA;
}

body {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background: #9F8C86;
    
}

h1{
    font-size: 50px;
    font-family: cursive;
}

h2{
    font-size: 30px;
    font-family: cursive;
}

.container { 
    width: 500vh;
    max-width: 1000px;
    background-color: #895B4A;
    padding: 28px 32px;
    margin: 50px;
    border-radius: 5.44vh;
    transition: 0.6s ease-in-out;
    
}
 
#nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#meSection{
    display: grid;
    height: 50vh;
    justify-items: center;
    align-content: center;
    grid-template-rows: 15% 70%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "aboutMeTitle aboutMeText"
    "myPortrait aboutMeText";
}


#aboutMeTitle{
    grid-area: aboutMeTitle;
    align-self: center;
    padding:10px 60px;
    
}

#aboutMeText{
    grid-area: aboutMeText;
    text-align: center;
    align-self: center;
    padding: 10px 60px;
}

#myPortrait{
    grid-area: myPortrait;
    align-items: start;
    padding: 10px 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 50%;
    
    
}

#projects{
    display: grid;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    height: 80vh;
    
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 30% 35% 35%;
    grid-template-areas: 
    "projectTitle project1 project1"
    "projectTitle project2 project3"
    "projectTitle project4 project5"
}
#project1, #project2, #project3, #project4{
    
}
.projectBoxes{
    height: 100%;
    width: 100%;
    transition: all 0.66s ease-in-out;  
    border-radius: 5.44vh;
    background-size:cover;
    background-repeat: no-repeat; 
    padding: 10px 10px;
}

.projectBox{
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
    
}

.projectText{
    padding: 2%;
    width: 55%;
    border-radius: 5.44vh;
    background-color: #9F8C86;
    opacity: 50%;
    transition: all 0.6s ease-in-out;   
}


.projectBoxes:hover .projectText{
    background-color: #A8725E;
    font-size: 150%;
    width: 100%;
    opacity: 100%;
    color: white; 
    
}
.projectBoxes:hover {
    width: 110%;
    height: 110%;
}

.projectBoxes:hover + .projectBoxes, .projectBoxes:hover + .projectBoxes + .projectBoxes, .projectBoxes:hover + .projectBoxes + .projectBoxes + .projectBoxes, .projectBoxes:hover + .projectBoxes + .projectBoxes + .projectBoxes + .projectBoxes{
    opacity: 0%;
}

#projectTitle{
    grid-area: projectTitle;
    padding: 10px 60px;
}

#project1{
    background-image: url("/assets/images/solar-gif.gif");
    background-position: 0% 50%;
    grid-area: project1;
}

#project2{
    background-image: url("/assets/images/davouj-github-io-code-refactoring-starter-.jpg");
    background-position: 0% 0%;
    grid-area: project2;    
}

#project3{
    background-image: url("/assets/images/pingGif.gif");
    background-position: 0% 50%;
    grid-area: project3;
}

#project4{
    background-image: url("/assets/images/MinesweeperGif.gif");
    background-position: 0% 50%;
    grid-area: project4;
}

#project5{
    background-image: url("/assets/images/pingGif.gif");
    background-position: 0% 50%;
    grid-area: project5;
}
@media (){

}






